/*
	Atualizado em Agosto/2018
*/

/*	Geral  */

body{
	width: 90%;
	max-width: 1900px;
	min-width: 600px;
	margin: auto;
	font-family: "Source Sans Pro";
	background-color: #f3f3f3;
}

a{
	text-decoration: none;
	font-weight: 600;
	color: #707070;
}

p{
	margin: 16px;
	color: #707070;
	font-weight: 400;
}

h1{
	color: #303030;
}

.destaque{
	color: #505050;
}

/*	Menu  */

#menu{
    height:  50px;
    padding: 20px;
    background-color:  #fff;
    text-align:  center;
}

li{
	display: inline-flex;
}

ul{
	padding-left: 20px;
	padding-right: 20px;
}

/*	Footer  */

.copyright{
	text-align: center;
}

/*	Seções	*/

.secao{
	background-color: #fff;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
	border-style: solid;
	border-color: #f3f3f3;
	border-radius: 5px;
	max-width: 1146px;
}

.secao h1{
	margin-top: 0;
}

/*	Projetos  */

#projetos-recentes{
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

.projeto{
	margin: auto;
	width: 70%;
	text-align: center;
}

.projeto h1{
	margin-top: 20px;
}

.projeto p{
	text-align: justify;
}

.link-projeto{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

#link-completo{
	position: relative;
	left: 85%;
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	width: 120px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*	Links de contato  */

#links-contato{
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

/*	Icones de contato  */

img{
	max-width: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#links-contato a{
	text-align: center;
}

/*	Projetos completos  */

.projeto-full{
	width: 90%;
	margin: auto;
}

.projeto-full a{
	width: 250px;
	position: relative;
	left: 15px;
}

.carrossel{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	margin: auto;
	text-align: center;
	width: 90%
}

.carrossel a{
	text-align: center;
	left: 0;
	width: 100%;
}

/*	Mobile	*/

@media only screen and (max-width: 767px){
	#projetos-recentes{
		display: grid;
		grid-template-columns: auto;
	}

	#links-contato{
		display: grid;
		grid-template-columns: auto;
	}

	#link-completo{
		position: initial;
		width: 100%;
		text-align: center;
	}

	.carrossel{
		display: grid;
		grid-template-columns: 50% 50%;
	}
}